<!-- {% for project in site.data.projects %}
  {% unless project.featured %}
    {% assign third = forloop.index | modulo: 3 %}
    {% if third == 1 %}
    <div class="usa-width-one-third usa-end-row project">
    {% else %}
    <div class="usa-width-one-third project">
    {% endif %}
      
  {% endunless %}
{% endfor %}

 -->

<div class="usa-width-one-third project">
    <span class="project--image" style="background-image: url(/assets/img/project-icons/tractor.png);">
    </span>
    <h3 class="project--title">
      Platform at your service
    </h3>
    <p class="project--description">
    <span>
    Need a new managed service, or a new route for users to reach your app? With just a few clicks they're ready to go! No need to hassle with requests or waiting for approvals.
    </span></p>
</div>

<div class="usa-width-one-third project">
    <span class="project--image" style="background-image: url(/assets/img/project-icons/recurring.png);">
    </span>
    <h3 class="project--title">
      Fits Government like a glove
    </h3>
    <p class="project--description">
    <span>
    Gain Authority to Operate (ATO) in record time by leveraging battle-tested software stacks and services in your app. Generate your System Security Plan (SSP) in no time — our documents will give you a huge head start!
    </span></p>
</div>

<div class="usa-width-one-third usa-end-row project">
    <span class="project--image" style="background-image: url(/assets/img/project-icons/piggy-bank.png);">
    </span>
    <h3 class="project--title">
      Put your money where your team is
    </h3>
    <p class="project--description">
    <span>
    Develop, run, and manage web applications without the complexity and cost of building and maintaining infrastructure. Focus precious team effort on improving your service!
    </span></p>
</div>