<!-- {% for project in site.data.projects %}
  {% unless project.featured %}
    {% assign third = forloop.index | modulo: 3 %}
    {% if third == 1 %}
    <div class="usa-width-one-third usa-end-row project">
    {% else %}
    <div class="usa-width-one-third project">
    {% endif %}
      
  {% endunless %}
{% endfor %}

 -->

<div class="usa-width-one-third project">
    <h3 class="project--title">
      Platform at your service
    </h3>
    <p class="project--description">
    <span>
    Need a new managed service, or a new route for users to reach your app? With just a few clicks they're ready to go! No need to hassle with requests or waiting for approvals.
    </span></p>
</div>

<div class="usa-width-one-third project">
    <h3 class="project--title">
      Fits government like a glove
    </h3>
    <p class="project--description">
    <span>
    Gain Authority to Operate (ATO) in record time by leveraging battle-tested software stacks and services in your app. Generate your System Security Plan (SSP) in no time — our documents will give you a huge head start!
    </span></p>
</div>

<div class="usa-width-one-third usa-end-row project">
    <h3 class="project--title">
      Put your money where your team is
    </h3>
    <p class="project--description">
    <span>
    Develop, run, and manage web applications without the complexity and cost of building and maintaining infrastructure. Focus precious team effort on improving your service!
    </span></p>
</div>

<div class="usa-width-one-third project">
    <h3 class="project--title">
      Rock solid, better all the time
    </h3>
    <p class="project--description">
    <span>
        Join a stable, monitored, always-up platform that is running government software today. Gain access to new capabilities regularly. We work with leading teams to create new platform features based on real needs. 
    </span></p>
</div>

<div class="usa-width-one-third project">
    <h3 class="project--title">
      Flex up, flex down, save costs
    </h3>
    <p class="project--description">
    <span>
        Sometimes your website goes viral on social media and you need extra capacity fast. Sometimes your website is sunsetting and doesn’t get much traffic anymore. From zero to a million hits a day, we have you covered. Pay for the infrastructure you use, use only the infrastructure you need.
    </span></p>
</div>

<div class="usa-width-one-third usa-end-row project">
    <h3 class="project--title">
      Environments on demand
    </h3>
    <p class="project--description">
    <span>
        Spin up production-like environments for development, QA, and other tests, instantly. Unleash development teams to innovate and test faster without worrying about provisioning new servers.
    </span></p>
</div>

<div class="usa-width-one-third project">
    <h3 class="project--title">
        Transparent and auditable
    </h3>
    <p class="project--description">
    <span>
        Monitor infrastructure usage, set quotas, and generate audit trails for compliance and internal reporting needs. Inspect how we manage and deploy the platform to increase your confidence that we're doing it right.
    </span></p>
</div>

<div class="usa-width-one-third project">
    <h3 class="project--title">
        Security at every level
    </h3>
    <p class="project--description">
    <span>
        The platform uses only FedRAMP authorized, FISMA-ready, hardened machine images and we constantly patch software stacks. Focus on your software features and security, and let us look after the platform security for you.
    </span></p>
</div>

