<footer class="usa-footer footer" role="contentinfo">
  <div class="usa-grid">
    <div class="section-content usa-content footer-links">
      <address>
        {% if site.footer.name %}
          <h3 class="usa-footer-contact-heading">{{ site.footer.name }}</h3>
        {% endif %}
        {% if site.footer.phonenumber %}
          <a href="tel:{{ site.footer.phonenumber }}">{{ site.footer.phonenumber }}</a>
        {% endif %}
        <a href="mailto:{{ site.footer.email }}">{{ site.footer.email }}</a>
        <br>
        {% for twitter in site.footer.twitter %}
        <a href="https://twitter.com/{{ twitter }}" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @{{ twitter }}</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        {% endfor %}
      </address>
    </div>
  </div>
</footer>
