  <footer class="usa-footer usa-footer-slim usa-sans" role="contentinfo">
    <div class="usa-footer-primary-section">
      <div class="usa-grid-full">
        <nav class="usa-footer-nav usa-width-two-thirds">
          <ul class="usa-unstyled-list">
            <li class="usa-width-one-fourth usa-footer-primary-content">
              <a class="usa-footer-primary-link" href="https://docs.cloud.gov/help/">cloud.gov help</a>
            </li>
            <li class="usa-width-one-fourth usa-footer-primary-content">
              <a class="usa-footer-primary-link" href="https://github.com/18F/cg-landing">Edit this page</a>
            </li>
            <li class="usa-width-one-fourth usa-footer-primary-content">
              <a class="usa-footer-primary-link" href="https://18f.gsa.gov/">Made by 18F</a>
            </li>
            <li class="usa-width-one-fourth usa-footer-primary-content">
              <a class="usa-footer-primary-link" href="https://18f.gsa.gov/2015/10/09/cloud-gov-launch/">Announcement post</a>
            </li>
          </ul>
        </nav>
        <div class="usa-width-one-third usa-footer-primary-content">
          <a href="mailto:{{ site.footer.email }}">{{ site.footer.email }}</a>
        </div>          
      </div>
    </div>
  </footer>
