.center-content {
  text-align: center;
}

.hero-content h1 {
  font-size: 50px;
  font-family: serif;
  font-weight: 600;
}

.hero-content h2 {
  font-family: serif;
  color: #fff;
  font-size: 25px;
  font-weight: 200;
}

.banner.contact legend {
    font-weight: 400;
    font-family: serif;
}

.hero-content {
    padding: 20px 20px 10px 20px;
    position: relative;
    top: 160px;
    text-align: center;
}