.center-content {
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-family: $base-font-family;
}

.hero-content h1 {
  font-size: 50px;
  font-family: $base-font-family;
  font-weight: 400;
}

.hero-content h2 {
  font-family: $base-font-family;
  color: #fff;
  font-size: 25px;
  font-weight: 200;
  margin-top: 1.5rem;
}

.banner.contact legend {
  font-weight: 400;
  font-family: $base-font-family;
}

.hero-content {
  padding: 20px 20px 10px 20px;
  position: relative;
  top: 160px;
  text-align: center;
  @media (max-width: 900px) {
    left: 20%;
    margin-left: -20%;
    top: 4rem;
    width: 100%;
  }
}

.hero-unit {
  @media (max-width: 900px) {
    min-height: 22em;
  }
}

.project {
  min-height: auto;
  @media (max-width: 600px) {
    margin-bottom: 0;
    padding: 0;
  }
}

h3.project--title {
  width: 185px;
  @media (max-width: 600px) {
    width: auto;
  }
}
