.center-content {
  text-align: center;
}

.hero-content h1 {
  font-size: 50px;
  font-family: $base-font-family;
  font-weight: 400;
}

.hero-content h2 {
  font-family: $base-font-family;
  color: #fff;
  font-size: 25px;
  font-weight: 200;
  margin-top: 1.5rem;
}

.banner.contact legend {
  font-weight: 400;
  font-family: $base-font-family;
}

.hero-content {
  padding: 20px 20px 10px 20px;
  position: relative;
  top: 160px;
  text-align: center;
}