// The CSS for the colored light that represents the current status per statuspage.io

.statuspagecolor-light {
  @include border-radius(99px);
  display:inline-block;
  width:10px;
  height:10px;
  margin-right:5px;
}

.statuspagecolor-light.critical {
  color:#e74c3c; // red
}

.statuspagecolor-light.major {
  color:#e67e22;  // orange
}

.statuspagecolor-light.minor {
  color:#f1c40f;  // yellow
}

.statuspagecolor-light.none {
  color:#2ecc71;  // green
}