---
layout: base
---

<section>
  <div id="main" tabindex="-1" class="hero-unit" style="background-image: url('{{ page.hero-image | prepend: site.baseurl }}')">
    <div class="usa-grid">
      <div class="usa-width-whole hero-content">
        <h1>{{ page.hero-text }}</h1>
        <h2>{{ page.hero-subtext }}</h2>
      </div>
    </div>
  </div>
</section>

<section>
  <a name="about"></a>
  <div class="usa-grid">
    <h2>About cloud.gov</h2>
    {% include about.html %}
  </div>
</section>


{% include contact.html %}
