---
layout: base
---

<section>
  <div id="main" tabindex="-1" class="hero-unit" style="background-image: url('{{ page.hero-image | prepend: site.baseurl }}')">
    <div class="usa-grid">
      <div class="usa-width-whole hero-content">
        <h1>{{ page.hero-text }}</h1>
        <h2>{{ page.hero-subtext }}</h2>
      </div>
    </div>
  </div>
</section>

<section>
  <a name="about"></a>
  <div class="usa-grid">
    <h2>About cloud.gov</h2>
    {% include about.html %}
  </div>
</section>

<!-- <section class="banner tagline">
  <div class="usa-grid">
    <div class="usa-width-one-whole usa-end-row">
      <h2>Find out more</h2>
      <p>We recently gave a talk to the USDS which helps explain why we're working on cloud.gov, and how it magnifies the effectiveness of teams delivering quality digital services in government.</p>
      <p><i>[...slides pending...]</i></p>
    </div>
  </div>
</section>
 -->
<section class="content">
  <div class="usa-grid">
    <h2>Testimonials</h2>
    <div class="usa-width-one-whole usa-end-row">
      <blockquote>
        <p>
          “With the help of cloud.gov, College Scorecard was able to focus on making important data available to the public. The streamlined ATO process was incredibly helpful in helping the project go live on schedule. We needed specific services that were not yet available in the platform, and the cloud.gov team responded quickly and supported our needs, letting us focus on the data and the software.” — <strong>Sarah Allen, 18F developer on the <a href="https://collegescorecard.ed.gov/">College Scorecard</a> team</strong> 
        </p>
      </blockquote>
      <blockquote>
        <p>
          “I managed the staging environment for the eRegs instance at CFPB and spent at least a fifth of my time managing the instance. On ATF's eRegs instance, which runs on cloud.gov, that time was cut down to less than a day of configuration. I will gladly remove "server management" from my resume now.” — <strong>CM Lubinksi, 18F developer on the <a href="https://atf-eregs.18f.gov/">ATF eRegulations</a> team</strong>
        </p>
      </blockquote>
      <blockquote>
        <p>
          “The platform actually allows us to follow the fundamental software tenet of not repeating ourselves versus our previous framework. Every subsequent deploy of a stack allows us to add to our toolset for future re-use.” — <strong>Kaitlin Devine, 18F Director of Engineering</strong>
        </p> 
      </blockquote>
    </div>
  </div>
</section>

{% include contact.html %}
